<div class="container">
  <div>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/JDfKCPpBOCM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
      </iframe>
  </div>
  <div class="content">
    <h2>RETRO GRADE FUTURE</h2>
    <p>
      The FINAL FILM team are currently engaged in a funding campaign to finance the production of the Retro Garde Future movie
    </p>
    <br><br>
    <p>
      One is the best cop of the past, the other is the last cop of the future.
    <br><br>
      Hurled together by time, these unlikely partners have to put aside their differences and work together to save the city. Sgt Jake Retroski is a reluctant time traveller, in an assassination gone bad.
      The most badass cop of the 1980’s holds the key to transform the future, a key held by the most perfect artificial life ever conceived.
    <br><br>
      Jake's partner John “Grade” unit 808, is the last of an elite unit of cyber police officers,
      designed to combat the ever increasing crime rate in the city. When Jake Retroski arrives in his world, they realise everything is at stake, they are the last stand.
    <br><br>
      Retro and Grade face cyborg gangs, street punks and a shadowy underworld of unknown capability. In an ever maddening metropolis, against all odds, they fight to restore law and order and bring justice back to the future.
    <br><br>
      Two cops, One city, No back up
    <br><br>
      Retro Grade Future will be a wild ride, set to stretch the imagination. A retro futuristic buddy cop feature, with style, comedy, and sci-fi action.
      With a nostalgic B-movie flavour and inspired by great 80's action and sci-fi flicks such as Robocop, Lethal Weapon, Escape from New York and Mad Max.
    <br><br>
      This promises to be an all out fresh and greatly inspired feature film.
    <br><br>
      Fuelled by the sounds of Synthwave, FINAL FILM is collaborating with an ever growing list of some of the best names in the genre including Wolf and Raven, Meteor, OGRE, Midnight Danger, Dance With The Dead, and more!
    <br><br>
      If you want to join the journey and see this movie happen then go check out our rewards on kickstarter! And follow us on social media.
    </p>
  </div>
  <div class="portfolio">
    <div class="top">
      <div style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
        <figure>
          <img src="../assets/images/badguy.jpg" alt="Image" height="234" width="323">
          <figcaption class="dark">
            <a href="https://facebook.com/retrogradefuturemovie" src="../assets/images/badguy.jpg" class="fancybox">
              <h2>Facebook</h2>
            </a>
          </figcaption>
        </figure>
      </div>
      <div style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
        <figure>
          <img src="../assets/images/rgfbts.jpg" alt="Image" height="234" width="323">
          <figcaption class="dark">
            <a href="https://facebook.com/finalfilmuk" src="../assets/images/rgfbts.jpg" class="fancybox">
              <h2>Final Film</h2>
            </a>
          </figcaption>
        </figure>
      </div>
      <div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
        <figure>
          <img src="../assets/images/gradefiresmall.gif" alt="Image" height="234" width="323">
          <figcaption class="dark">
            <a href="../assets/images/gradefiresmall.gif" class="fancybox">
              <h2>John Grade - 808</h2>
            </a>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="bot">
      <div style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn; float: left">
        <figure>
          <img src="../assets/images/retroface.jpg" alt="Image" height="445" width="485">
          <figcaption class="dark">
            <a href="../assets/images/retroface.jpg" class="fancybox">
              <h2>Sgt. Jake Retroski</h2>
            </a>
          </figcaption>
        </figure>
      </div>
      <div style="display: inline-block; position: absolute">
        <div style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
          <figure>
            <img src="../assets/images/carshot.jpg" alt="Image" height="230" width="485">
            <figcaption class="dark">
              <a href="https://www.instagram.com/retrogradefuture" class="fancybox">
                <h2>Instagram</h2>
              </a>
            </figcaption>
          </figure>
        </div>
        <div style="display: inline-block; margin-left: 0; margin-right: 0">
          <div style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn">
            <figure>
              <img src="../assets/images/meteor.jpg" alt="Image" height="215" width="243">
              <figcaption class="dark">
                <a href="http://www.heisamaniac.com/" src="../assets/images/meteor.jpg" class="fancybox">
                  <h2>Meteor</h2>
                </a>
              </figcaption>
            </figure>
          </div>
          <div style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn">
            <figure>
              <img src="../assets/images/wolfandraven.jpg" alt="Image" height="215" width="243">
              <figcaption class="dark">
                <a href="http://www.wolfandravenmusic.com" src="../assets/images/wolfandraven.jpg" class="fancybox">
                  <h2>Wolf and Raven</h2>
                </a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
