<div class="nav">
    <div class="nav-header">
        <div class="nav-title">
            <img src="../assets/images/FINALlogo.png" alt="Image" height="119" width="330">
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
        </label>
    </div>
    <input type="checkbox" id="nav-check">
    <div class="nav-links">
        <a routerLink="/team">Team</a>
        <a routerLink="/retro">Retro Grade Future</a>
        <a routerLink="/blog">Blog</a>
        <a routerLink="/contact">Contact</a>
    </div>
</div>
<router-outlet></router-outlet>
<footer>
    <span>@FINAL FILM. All Rights Reserved</span>
</footer>
