<div class="container">
  <div>
    <video src="../assets/videos/video.mp4" muted></video>
  </div>
  <div>
    <a href="https://www.final-film.com/retrogradefuture">
      <video src="../assets/videos/banner2018.mp4" muted></video>
    </a>
  </div>
  <div class="content">
    <h4>Click above for Retro Grade Future!</h4>
    <h2>FINAL FILM</h2>
    <h4>
      Final Film is a British production house that has been forged by friendship and inspired talent. 
      A team of individuals brought together by a passion of an era that launched a thousand faces and vehicles.
    </h4>
    <br>
    <h4>
      Fueled by the sounds of synthwave, the team are set to bring some fresh visuals to an already awesome soundscape. 
      If you appreciate all things rad; buckle up. 
    </h4>
  </div>
  <div class="bottom">
    <h3>Chase the horizon</h3>
  </div>
</div>