.container {
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 100%;
}
div video {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 30px
}
video {
    width: 92.5%!important;
}
.content {
    text-align: center;
    color: #f2f2f2;
    padding: 50px 20px 140px 20px;
}
h4 {
    text-shadow: 1px 1px 2px #000;
    font-weight: lighter;
    font-size: 23px;
}
h2 {
    font-weight: 700;
    font-size: 42px;
    letter-spacing: 8px;
    padding-bottom: 20px;
}
.bottom {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px
}
h3 {
    font-size: 54px;
    font-weight: 100;
    color: #fff;
}